@model IEnumerable<AMAPP.Web.Models.Product>
<link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="container">
    <h1 class="title">Produtos</h1>

    <div class="text-end mb-3">
        <a class="btn btn-create" asp-area="" asp-controller="Products" asp-action="Create">
            <i class="bi bi-plus-circle-fill"></i> Adicionar Novo Produto
        </a>
    </div>

    <!-- Layout de cards centralizado -->
    <div class="row row-cols-12 row-cols-md-5 g-10 justify-content-center">
        @foreach (var product in Model)
        {
            <a class="card-link text-decoration-none" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                <div class="col d-flex justify-content-center">
                    <div class="card h-100 hover-card text-center">
                        <div class=card-top>
                            <img src="@product.PhotoBase64" class="card-img-top" alt="@product.Name" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text"><strong>Preço:</strong> €@product.ReferencePrice</p>
                            <p class="card-text"><strong>Unidade de Entrega:</strong> @product.DeliveryUnit</p>
                            <p class="card-text"><strong>Tipo de Produto ID:</strong> @product.ProductTypeId</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>

</div>

<style>
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>
